{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- TODO Query (6)
        Display All Relevant Podcast Infromation including meta data
        Display All Relevant Podcast Episodes for this Podcast
        -->
        <!-- TODO - Query (10)
        You will have to modify the above approach slightly to make each genre clickable
        -->
        {% if podcast | length > 0 %}
        <h2 class="title"> {{podcast[0].podcast_title}}</h2>
        <hr/>
        <h3> Artworks </h3>
        {% for instance in podcast %}
        {% if instance.md_type_name == 'artwork' %}
        <img src="{{instance.md_value}}" alt="image" style="max-width:500px">
        <br/>
        {% endif %}
        {% endfor %}
        {% for instance in podcast %}
        {% if instance.md_type_name == 'copyright holder' %}
        <td>{{instance.md_value}}</td>
        {% endif %}
        {% endfor %}

        <h3> Description </h3>
        {% for instance in podcast %}
        {% if instance.md_type_name == 'description' %}
        <td>{{instance.md_value}}</td>
        <br/>
        {% endif %}
        {% endfor %}

        <h3> Genres </h3>
        {% for instance in podcast %}
        {% if instance.md_type_name == 'podcast genre' %}
        <a href="{{ url_for('single_genre', type=instance.md_type_name, genre_id=instance.md_value)}}">{{instance.md_value}}</a><br>
        {% endif %}
        {% endfor %}
        <!-- Podcast Episodes -->
        <h3>Episodes for this Podcast</h3>
        <table class="styled">
            <thead>
            <tr>
                <td>Podcast Episode Media ID</td>
                <td>Podcast Episode Title</td>
                <td>Podcast Episode URI</td>
                <td>Podcast Episode Published Date</td>
                <td>Podcast Episode Length</td>
            </tr>
            </thead>
            <tbody>
            {% for instance in podcasteps %}
            <tr class="clickable-tr" data-href="{{ url_for('single_podcastep', media_id=instance.media_id)}}">
                <td style="text-align: center">{{ instance.media_id }}</td>
                <td>{{instance.podcast_episode_title}}</td>
                <td>{{instance.podcast_episode_uri}}</td>
                <td>{{instance.podcast_episode_published_date}}</td>
                <td>{{instance.podcast_episode_length}}</td>

            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    {% else %}
    <h2 class="title"> Invalid Podcast ID</h2>
    {% endif %}
</div>
</div>
{% include 'bottom.html'%}