{% include 'top.html' %}
<html>
<center>
    <div class="content">
        <h1 class="title">Change Details</h1>
        <h3>Change Details</h3>
        <form method="POST" action="{{url_for('account')}}">
            <input type="text" name="value" placeholder="New Value" autofocus required>
            <br>
            <br>
            <select id="type" name="type" style="background-color:#0069D0;color:white;height:34px;width:100px">
                <option value="pass" selected>Password</option>
                <option value="email" selected>Email</option>
                <option value="phone" selected>Phone</option>
                <option value="social" selected>Social</option>
            </select>
            <button class="flat" type="submit">Add/Change</button>
        </form>

        <br><br>
        <h3>Delete Contact Info</h3>
        <form class="delete_contact" method="POST" action="{{url_for('account')}}">
            <select id="delete" name="delete" style="background-color:#0069D0;color:white;height:32px;width:80px">
                <option value="email" selected>Email</option>
                <option value="phone" selected>Phone</option>
                <option value="social" selected>Social</option>
            </select>
            <button class="flat" type="submit" >Delete</button>
        </form>

    </div>
</center>
</html>
{% include 'bottom.html'%}